proyectoIntegradorAccionesPersonal.IU/src/conf/xml-resources/web-service-references/wsAccionesPersonal/wsdl/localhost_8080/proyectoIntegradorAccionesPersonal.AD/wsAccionesPersonal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS.AccionesDePersonal.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS.AccionesDePersonal.com/" name="wsAccionesPersonal">
<types>
<xsd:schema>
<xsd:import namespace="http://WS.AccionesDePersonal.com/" schemaLocation="http://localhost:8080/proyectoIntegradorAccionesPersonal.AD/wsAccionesPersonal?xsd=1"/>
</xsd:schema>
</types>
<message name="getCedula">
<part name="parameters" element="tns:getCedula"/>
</message>
<message name="getCedulaResponse">
<part name="parameters" element="tns:getCedulaResponse"/>
</message>
<message name="getApellido">
<part name="parameters" element="tns:getApellido"/>
</message>
<message name="getApellidoResponse">
<part name="parameters" element="tns:getApellidoResponse"/>
</message>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="getResolucion">
<part name="parameters" element="tns:getResolucion"/>
</message>
<message name="getResolucionResponse">
<part name="parameters" element="tns:getResolucionResponse"/>
</message>
<message name="GuardarDatosAP">
<part name="parameters" element="tns:GuardarDatosAP"/>
</message>
<message name="GuardarDatosAPResponse">
<part name="parameters" element="tns:GuardarDatosAPResponse"/>
</message>
<portType name="wsAccionesPersonal">
<operation name="getCedula">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getCedulaRequest" message="tns:getCedula"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getCedulaResponse" message="tns:getCedulaResponse"/>
</operation>
<operation name="getApellido">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getApellidoRequest" message="tns:getApellido"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getApellidoResponse" message="tns:getApellidoResponse"/>
</operation>
<operation name="getNombre">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="getResolucion">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getResolucionRequest" message="tns:getResolucion"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getResolucionResponse" message="tns:getResolucionResponse"/>
</operation>
<operation name="GuardarDatosAP">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/GuardarDatosAPRequest" message="tns:GuardarDatosAP"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/GuardarDatosAPResponse" message="tns:GuardarDatosAPResponse"/>
</operation>
</portType>
<binding name="wsAccionesPersonalPortBinding" type="tns:wsAccionesPersonal">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCedula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApellido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResolucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GuardarDatosAP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAccionesPersonal">
<port name="wsAccionesPersonalPort" binding="tns:wsAccionesPersonalPortBinding">
<soap:address location="http://localhost:8080/proyectoIntegradorAccionesPersonal.AD/wsAccionesPersonal"/>
</port>
</service>
</definitions>