AcciondesDePersonalIU/web/WEB-INF/wsdl/localhost_8080/AccionesDePersonalAD/wsAccionesPersonal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS.AccionesDePersonal.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS.AccionesDePersonal.com/" name="wsAccionesPersonal">
<types>
<xsd:schema>
<xsd:import namespace="http://WS.AccionesDePersonal.com/" schemaLocation="http://localhost:8080/AccionesDePersonalAD/wsAccionesPersonal?xsd=1"/>
</xsd:schema>
</types>
<message name="getResolucionAp">
<part name="parameters" element="tns:getResolucionAp"/>
</message>
<message name="getResolucionApResponse">
<part name="parameters" element="tns:getResolucionApResponse"/>
</message>
<message name="getFechaCreada">
<part name="parameters" element="tns:getFechaCreada"/>
</message>
<message name="getFechaCreadaResponse">
<part name="parameters" element="tns:getFechaCreadaResponse"/>
</message>
<message name="getNumeroTipo">
<part name="parameters" element="tns:getNumeroTipo"/>
</message>
<message name="getNumeroTipoResponse">
<part name="parameters" element="tns:getNumeroTipoResponse"/>
</message>
<message name="getRectorAp">
<part name="parameters" element="tns:getRectorAp"/>
</message>
<message name="getRectorApResponse">
<part name="parameters" element="tns:getRectorApResponse"/>
</message>
<message name="getDirectorThAp">
<part name="parameters" element="tns:getDirectorThAp"/>
</message>
<message name="getDirectorThApResponse">
<part name="parameters" element="tns:getDirectorThApResponse"/>
</message>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="getFechaRige">
<part name="parameters" element="tns:getFechaRige"/>
</message>
<message name="getFechaRigeResponse">
<part name="parameters" element="tns:getFechaRigeResponse"/>
</message>
<message name="GuardarDatosAP">
<part name="parameters" element="tns:GuardarDatosAP"/>
</message>
<message name="GuardarDatosAPResponse">
<part name="parameters" element="tns:GuardarDatosAPResponse"/>
</message>
<message name="getApellido">
<part name="parameters" element="tns:getApellido"/>
</message>
<message name="getApellidoResponse">
<part name="parameters" element="tns:getApellidoResponse"/>
</message>
<message name="getExplicacionAp">
<part name="parameters" element="tns:getExplicacionAp"/>
</message>
<message name="getExplicacionApResponse">
<part name="parameters" element="tns:getExplicacionApResponse"/>
</message>
<message name="cargarDatos">
<part name="parameters" element="tns:cargarDatos"/>
</message>
<message name="cargarDatosResponse">
<part name="parameters" element="tns:cargarDatosResponse"/>
</message>
<message name="getObservacionesAp">
<part name="parameters" element="tns:getObservacionesAp"/>
</message>
<message name="getObservacionesApResponse">
<part name="parameters" element="tns:getObservacionesApResponse"/>
</message>
<message name="getLugarSituacion">
<part name="parameters" element="tns:getLugarSituacion"/>
</message>
<message name="getLugarSituacionResponse">
<part name="parameters" element="tns:getLugarSituacionResponse"/>
</message>
<message name="getRemuMenSituacion">
<part name="parameters" element="tns:getRemuMenSituacion"/>
</message>
<message name="getRemuMenSituacionResponse">
<part name="parameters" element="tns:getRemuMenSituacionResponse"/>
</message>
<message name="getEstadoSituacion">
<part name="parameters" element="tns:getEstadoSituacion"/>
</message>
<message name="getEstadoSituacionResponse">
<part name="parameters" element="tns:getEstadoSituacionResponse"/>
</message>
<message name="getDependenciaSituacion">
<part name="parameters" element="tns:getDependenciaSituacion"/>
</message>
<message name="getDependenciaSituacionResponse">
<part name="parameters" element="tns:getDependenciaSituacionResponse"/>
</message>
<message name="setExplicacionTipo">
<part name="parameters" element="tns:setExplicacionTipo"/>
</message>
<message name="setExplicacionTipoResponse">
<part name="parameters" element="tns:setExplicacionTipoResponse"/>
</message>
<message name="getNumeroIessTrabajador">
<part name="parameters" element="tns:getNumeroIessTrabajador"/>
</message>
<message name="getNumeroIessTrabajadorResponse">
<part name="parameters" element="tns:getNumeroIessTrabajadorResponse"/>
</message>
<message name="getPartIndSituacion">
<part name="parameters" element="tns:getPartIndSituacion"/>
</message>
<message name="getPartIndSituacionResponse">
<part name="parameters" element="tns:getPartIndSituacionResponse"/>
</message>
<message name="getPuestoSituacion">
<part name="parameters" element="tns:getPuestoSituacion"/>
</message>
<message name="getPuestoSituacionResponse">
<part name="parameters" element="tns:getPuestoSituacionResponse"/>
</message>
<message name="getPartPresuSituacion">
<part name="parameters" element="tns:getPartPresuSituacion"/>
</message>
<message name="getPartPresuSituacionResponse">
<part name="parameters" element="tns:getPartPresuSituacionResponse"/>
</message>
<portType name="wsAccionesPersonal">
<operation name="getResolucionAp">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getResolucionApRequest" message="tns:getResolucionAp"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getResolucionApResponse" message="tns:getResolucionApResponse"/>
</operation>
<operation name="getFechaCreada">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getFechaCreadaRequest" message="tns:getFechaCreada"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getFechaCreadaResponse" message="tns:getFechaCreadaResponse"/>
</operation>
<operation name="getNumeroTipo">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getNumeroTipoRequest" message="tns:getNumeroTipo"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getNumeroTipoResponse" message="tns:getNumeroTipoResponse"/>
</operation>
<operation name="getRectorAp">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getRectorApRequest" message="tns:getRectorAp"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getRectorApResponse" message="tns:getRectorApResponse"/>
</operation>
<operation name="getDirectorThAp">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getDirectorThApRequest" message="tns:getDirectorThAp"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getDirectorThApResponse" message="tns:getDirectorThApResponse"/>
</operation>
<operation name="getNombre">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="getFechaRige">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getFechaRigeRequest" message="tns:getFechaRige"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getFechaRigeResponse" message="tns:getFechaRigeResponse"/>
</operation>
<operation name="GuardarDatosAP">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/GuardarDatosAPRequest" message="tns:GuardarDatosAP"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/GuardarDatosAPResponse" message="tns:GuardarDatosAPResponse"/>
</operation>
<operation name="getApellido">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getApellidoRequest" message="tns:getApellido"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getApellidoResponse" message="tns:getApellidoResponse"/>
</operation>
<operation name="getExplicacionAp">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getExplicacionApRequest" message="tns:getExplicacionAp"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getExplicacionApResponse" message="tns:getExplicacionApResponse"/>
</operation>
<operation name="cargarDatos">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/cargarDatosRequest" message="tns:cargarDatos"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/cargarDatosResponse" message="tns:cargarDatosResponse"/>
</operation>
<operation name="getObservacionesAp">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getObservacionesApRequest" message="tns:getObservacionesAp"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getObservacionesApResponse" message="tns:getObservacionesApResponse"/>
</operation>
<operation name="getLugarSituacion">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getLugarSituacionRequest" message="tns:getLugarSituacion"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getLugarSituacionResponse" message="tns:getLugarSituacionResponse"/>
</operation>
<operation name="getRemuMenSituacion">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getRemuMenSituacionRequest" message="tns:getRemuMenSituacion"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getRemuMenSituacionResponse" message="tns:getRemuMenSituacionResponse"/>
</operation>
<operation name="getEstadoSituacion">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getEstadoSituacionRequest" message="tns:getEstadoSituacion"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getEstadoSituacionResponse" message="tns:getEstadoSituacionResponse"/>
</operation>
<operation name="getDependenciaSituacion">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getDependenciaSituacionRequest" message="tns:getDependenciaSituacion"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getDependenciaSituacionResponse" message="tns:getDependenciaSituacionResponse"/>
</operation>
<operation name="setExplicacionTipo">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/setExplicacionTipoRequest" message="tns:setExplicacionTipo"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/setExplicacionTipoResponse" message="tns:setExplicacionTipoResponse"/>
</operation>
<operation name="getNumeroIessTrabajador">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getNumeroIessTrabajadorRequest" message="tns:getNumeroIessTrabajador"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getNumeroIessTrabajadorResponse" message="tns:getNumeroIessTrabajadorResponse"/>
</operation>
<operation name="getPartIndSituacion">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getPartIndSituacionRequest" message="tns:getPartIndSituacion"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getPartIndSituacionResponse" message="tns:getPartIndSituacionResponse"/>
</operation>
<operation name="getPuestoSituacion">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getPuestoSituacionRequest" message="tns:getPuestoSituacion"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getPuestoSituacionResponse" message="tns:getPuestoSituacionResponse"/>
</operation>
<operation name="getPartPresuSituacion">
<input wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getPartPresuSituacionRequest" message="tns:getPartPresuSituacion"/>
<output wsam:Action="http://WS.AccionesDePersonal.com/wsAccionesPersonal/getPartPresuSituacionResponse" message="tns:getPartPresuSituacionResponse"/>
</operation>
</portType>
<binding name="wsAccionesPersonalPortBinding" type="tns:wsAccionesPersonal">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getResolucionAp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFechaCreada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNumeroTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRectorAp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDirectorThAp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFechaRige">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GuardarDatosAP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApellido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExplicacionAp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObservacionesAp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLugarSituacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRemuMenSituacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEstadoSituacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDependenciaSituacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setExplicacionTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNumeroIessTrabajador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartIndSituacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPuestoSituacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartPresuSituacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAccionesPersonal">
<port name="wsAccionesPersonalPort" binding="tns:wsAccionesPersonalPortBinding">
<soap:address location="http://localhost:8080/AccionesDePersonalAD/wsAccionesPersonal"/>
</port>
</service>
</definitions>